  <footer>
    <div class="footer-container">
      <h5>GetMoviez Copyright &copy; 2021</h5>
      <form action="#">
        <h2>Request a movie :)</h2>
        <div class="request-div">
          <input type="text" placeholder="Movie name">
          <button type="button" style="background-color: #fff; border: none; cursor: default;">
            <i class="fas fa-paper-plane fa-2x"></i>
          </button>
        </div>
        <div class="request-div">
          <input type="email" placeholder="Email*" required>
          <button type="button" style="background-color: #fff; border: none; cursor: default;">
            <i class="fas fa-envelope fa-2x"></i>
          </button>
        </div>
        <button type="submit" class="request-movie-form-btn">Request</button>
      </form>
    </div>
  </footer>

  <!-- SCROLL TOP BUTTON -->
  <button onclick="topFunction()" id="scrollToTop"><span class="fa fa-arrow-up" style="color: #fff"></span></button>
  <!-- SCROLL TOP BUTTON END-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
  <script src="/scripts/index.js"></script>

  <!-- HOME SCREEN CAROUSEL -->
  <script>
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 20,
      nav: true,
      dots: false,
      items: 1,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 4000,
      autoplaySpeed: 500,
      autoplayHoverPause: true,
      navText: ['<div class="carousel-prev"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></div>',
        '<div class="carousel-next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>'
      ],
      responsive: {
        0: {
          stagePadding: 40,
          nav: false
        },
        480: {
          stagePadding: 80,
          nav: false
        },
        992: {
          stagePadding: 180
        },
        1200: {
          stagePadding: 280
        }
      }
    })
  </script>
</body>

</html>
