<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GetMoviez</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />
</head>

<body onscroll="scrollFunction();">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div id="loader-container">
    <lottie-player src="/loader2.json"  background="transparent"  speed="1.2"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
  </div>

 <div class="container">
  <header>
    <div class="header-container">
      <div class="nav-left">
        <img src="/logo2.svg" alt="logo">
        <a href="/home">
          <h1 style="display: inline;">GetMoviez</h1>
        </a>
      </div>
      <div class="nav-right">
        <a href="/home">Home</a>
        <a href="/browse-movies">Browse Movies</a>
        <a href="#">Trending</a>
        <a href="javascript:void(0)" class="search-btn" onclick="showSearchModal()">Search <span><i class="fa fa-search fa-lg search-icon"></i></span></a>
        <a href="javascript:void(0)" class="drop-icon"><i class="fas fa-lg fa-bars"></i></a></div>
    </div>
    <div class="drop-menu">
      <a href="/home">Home</a>
      <a href="/browse-movies">Browse Movies</a>
      <a href="#">Trending</a>
      <a href="javascript:void(0)" class="search-btn-dropdown" onclick="showSearchModal()">Search <span><i class="fa fa-search fa-lg search-icon"></i></span></a>
    </div>
  </header>