  <!-- SEARCH MODAL -->
  <div id="popup">
    <div class="popup-content">
      <a href="javascript:void(0)" class="close-popup" onclick="closeSearchModal()"><i class="fas fa-2x fa-times" style="color:#fff"></i></a>
      <div class="search">
        <form style="margin-bottom: 10px;">
          <div class="box">
            <input type="text" placeholder="Search" name="search" required="required" autofocus autocomplete="off" />
            <button type="submit" class="submit-btn" style="background-color: #fff; border: none; cursor: pointer;">
              <i class="fa fa-search fa-2x"></i></button>
          </div>
        </form>
        <div class="categories">
          <h1 style="text-decoration: underline;">Categories:</h1>
          <ul class="categories-list">
            <li><a href="#">Action</a></li>
            <li><a href="#">Drama</a></li>
            <li><a href="#">Family</a></li>
            <li><a href="#">Thriller</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Romantic</a></li>
            <li><a href="#">Tv-Series</a></li>
            <li><a href="#">Horror</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- SEARCH MODAL END-->