<%- include('./partials/header') %> 

<%- include('./partials/search-modal') %> 

<div class="not-found">
 <p class="not-found-text">Oops....Couldn't find anything</p>
 <img src="/not-found.svg" class="not-found-svg">
</div>

<%- include('./partials/footer') %> 
